ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626 ;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
  body {
      background-color: black;
      color:white;
      font-family:Arial, Helvetica, sans-serif;
  }
  

  #sides {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  #sides td, #sides th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #sides tr:nth-child(even){background-color: #737373;}
  
  #sides tr:hover {background-color: #737373;}
  
  #sides th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: #ddd;
  }



  #div1 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    background-color: green;
  }
  #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    background-color: red;
  }
  #more {display: none;}
  #more2 {display: none;}




  .button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 5px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }


  .cardLink {
    color: inherit;
    text-decoration: none;
}

.card {
    width: 250px;
    height: 410px;
    border: 2px solid #808080;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    font-family: "Trebuchet MS", sans-serif;
    transition: all 0.2s ease-out;

}
.card:hover {
    border-color: #1E90FF;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}






  
.tab {
    overflow: hidden;
    border: 1px solid #4d4d4d;
    background-color: #0d0d0d;
}
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #737373;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #737373;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    color: white;
  }

  .boxText{
    background-color: #999999;
    width: 110px;
    height: 20px;
    border: 10px solid green;
    padding: 10px;
    margin: 2px;
  }
  .boxText1 {
    background-color: #999999;
    width: 110px;
    height: 30px;
    border: 10px solid green;
    padding: 10px;
    margin: 2px;
  }
  .boxText2 {
    background-color: #999999;
    width: 110px;
    height: 30px;
    border: 10px solid red;
    padding: 10px;
    margin: 2px;
  }